* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}


#container {
    width: 422px;
    height: 346px;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

#border {
    border: none;
    border-radius: 8px;
    background-color: #3B2795;
    height: 320px;
    width: 400px;
    color: white;
    font-family: Helvetica, sans-serif;
    padding: 35px 80px 35px 35px;
    
}

h2 {
    font-size: 23px;
    margin-bottom: 35px;
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

h1 span {
    font-size: 30px;
}

p {
    margin-bottom: 10px;
    line-height: 25px;
}

button {
    border: solid 1px #604eaa;
    border-radius: 5px;
    background-color: #3B2795;
    color: white;
    padding: 5px 10px;
    width: 155px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 16px;
}











